{{template "base" .}}

{{define "title"}}
<title>Home</title>
{{end}}

{{define "content"}}
<body>
	<div class="container">
		<div class="row">
			<div class="col">
				<h1>This is the Home Page.</h1>
				<p>This is some "Text" to fill out this home page and make it look like it has something going on here but in actuality!!!!!!!!!!!!!</p>
			</div>
		</div>
	</div>
{{end}}
