<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="profile" href="https://gmpg.org/xfn/11" />
<link href="http://fonts.cdnfonts.com/css/snell-roundhand" rel="stylesheet">
<body class="">
	<!-- <profile picture> -->
	<div class="container-fluid" style="background-image: url('../../assets/images/yellow-bg.jpg') ">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-1"></div>
			<div class="col-md-4">
				<div class="bg-img hover-zoom shadow card bg-warning border-danger text-center" style="width: 18rem;">
					<h1><span style="font-family: 'Snell Roundhand';">Vero Lady</span></h1>
					<center> <img id="ldp" class="card-img-top" src="<%= assetPath("images/lucita-profile1.png") %>" alt="Lucita Dover Card"> </center>
					<div class="card-body">
						<h5 class="card-title">Lucita Dover</h5>
						<h6 class="card-subtitle mb-2 text-muted">Online Dispensary /</h6>
						<h6 class="card-subtitle mb-2 text-muted">Broker WaKanna</h6>
						<p class="card-text"></p>
					</div>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>


	<!-- <divider> -->
	<br>
	<hr>
	<br>

	<div class="container">
		<div class="row text-center">
			<div class="col-12">
				<h1 style="font-family: 'Snell Roundhand';">Top Sellers</h1>
			</div>
		</div>
	</div>

	<!-- <put slider with images of products here> -->
<div class="view carousel slide carousel-fade" data-bs-ride="carousel">                                                                                                                                      
  <div class="carousel-inner">                                                  


		<!-- <first slide> -->
		<div class="carousel-item active parent">                                                                      
			<!-- <begin container> -->
			<div class="container">

				<!-- <begin row> -->
				<div class="row">
					<div class="card m-3 h-100 col-md-4 border-warning" style="width: 18rem; min-height: 36rem;">
						<img class="card-img-top carousel-img" src="<%= assetPath("images/broad_spectrum.png") %>" alt="Broad Spectrum Gummies">
						<div class="card-body">
							<h5 class="card-title">Broad Spectrum Gummies</h5>
							<p class="card-text">While the effects of edibles take longer, some people experience a longer period of relief from pain and discomfort. </p>
						</div>
					</div>

					<div class="card m-3 h-100 col-md-4 border-warning" style="width: 18rem; min-height: 36rem;">
						<img class="card-img-top carousel-img" src="<%= assetPath("images/flight300-preroll.png") %>" alt="Flight 300 Pre-Roll">
						<div class="card-body">
							<h5 class="card-title">Flight 300 Pre-Roll</h5>
							<h6 class="card-subtitle mb-2 text-muted">Contains less than .03% THC</h6>
							<p class="card-text">Studies show vaping CBD and Hemp Distillate can increase bioavailability providing a faster onset of action to help reduce inflammation and discomfort.</p>
						</div>
					</div>

					<div class="card m-3 h-100 col-md-4 border-warning" style="width: 18rem; min-height: 36rem;">
						<img class="card-img-top carousel-img" src="<%= assetPath("images/flight50.png") %>" alt="Flight 50">
						<div class="card-body">
							<h5 class="card-title">Flight 50</h5>
							<h6 class="card-subtitle mb-2 text-muted">Contains less than .03% THC</h6>
							<p class="card-text">
							<ul>
								<li>This is potent so start low and slow.</li>
								<li>Don't use while driving.</li>
								<li>Recommended to use at night.</li>
								<li>Don't exceed recommended dose</li>
								<li>Not for use or sale for persons under the age of 21</li>
								<li>Derived from Hemp Plant</li>
								<li>Grown in accordance of the 2018 US Farm Bill</p></li>
							</ul>
						</div>
					</div>

					<div class="card m-3 h-100 col-md-4 border-warning" style="width: 18rem; min-height: 36rem;">
						<img class="card-img-top carousel-img" src="<%= assetPath("images/hair-care.png") %>" alt="SOS - Hair Care System">
						<div class="card-body">
							<h5 class="card-title">SOS - Hair Care System</h5>
							<p class="card-text">
							<ul>
								<li>Renewing Shampoo with Aloe (8 OZ)</li>
								<li>Moisturizing Conditioner (8 OZ)</li>
								<li>Leave-In Detangler (8 OZ) Ligonberry</li>
								<li>Hair Styling Cream (2 OZ)</li>
								<li>Oud Body & Hair Oil (4 OZ)</p></li>
							</ul>
						</div>
					</div>
					<!-- <end row> -->
				</div>

			</div>
			<!-- <end container> -->

		</div>                                                                                                                                                                                                                             

		<!-- <second slide> -->
		<div class="carousel-item parent">                                                                                                                                                                                                        

			<!-- <begin container> -->
			<div class="container">

				<!-- <begin row> -->
				<div class="row">
					<div class="card m-3 h-100 child border-warning" style="width: 18rem; min-height:36rem;">
						<img class="card-img-top carousel-img" src="<%= assetPath("images/liquid-releaf.png") %>" alt="Liquid Relief">
						<div class="card-body">
							<h5 class="card-title">Liquid Releaf</h5>
							<p class="card-text">This fast-acting formula is designed for maximum therapeutic relief.</p>
						</div>
					</div>

					<div class="card m-3 h-100 child border-warning" style="width: 18rem; min-height:36rem;">
						<img class="card-img-top carousel-img" src="<%= assetPath("images/oudbody.png") %>" alt="Oud Body Oil">
						<div class="card-body">
							<h5 class="card-title">Oud Body Oil</h5>
							<p class="card-text">Intense Moisture Body Oil Spray is a royal, nutrient-rich oud Bergamot body spray infused with all-natural oils, for men and women.</p>
						</div>
					</div>

					<div class="card m-3 h-100 child border-warning" style="width: 18rem; min-height:36rem;">
						<img class="card-img-top carousel-img" src="<%= assetPath("images/pain-cream.png") %>" alt="Pain Cream">
						<div class="card-body">
							<h5 class="card-title">Pain Cream</h5>
							<h6 class="card-subtitle mb-2 text-muted">Contains less than .03% THC</h6>
							<p class="card-text">CBD and essential oils applied topically can offer faster relief to areas of discomfort.</p>
						</div>
					</div>

					<div class="card m-3 h-100 child border-warning" style="width: 18rem; min-height:36rem;">
						<img class="card-img-top carousel-img" src="<%= assetPath("images/power-gummies.png") %>" alt="Power Gummies">
						<div class="card-body">
							<h5 class="card-title">Power Gummies</h5>
							<h6 class="card-subtitle mb-2 text-muted">
								(Vegan) 500 MG
								Contains less than .03% THC</h6>
							<p class="card-text">While the effects of edibles take longer, some people experience a longer period of relief from discomfort. Our Power Gummies might help reduce inflammation
							</p>
						</div>
					</div>
					<!-- <end row> -->
				</div>
				<!-- <end container> -->

			</div>


		</div>                                                                                                                                                                                                                             

		<!-- <third slide> -->
		<div class="carousel-item parent">                                                                                                                                                                                                        
			<div class="container">
				<div class="row">

					<div class="card m-3 h-100 child border-warning" style="width: 18rem; min-height: 36rem;">
						<img class="card-img-top carousel-img" src="<%= assetPath("images/premium-flower.png") %>" alt="Premium Flower CBD">
						<div class="card-body">
							<h5 class="card-title">Premium Flower</h5>
							<h6 class="card-subtitle mb-2 text-muted">
								Smokable hemp is banned in Louisiana, North Carolina, and Kentucky.
								Contains less than .03% THC</h6>
							<p class="card-text">Smoking cbd flower can increase bioavailability providing a faster onset of action to help reduce inflammation and discomfort.</p>
						</div>
					</div>

					<div class="card m-3 h-100 child border-warning" style="width: 18rem; min-height: 36rem;">
						<img class="card-img-top carousel-img" src="<%= assetPath("images/water-soluble.png") %>" alt="Water Soluble">
						<div class="card-body">
							<h5 class="card-title">Water Saluble</h5>
							<h6 class="card-subtitle mb-2 text-muted">Contains less than .03% THC</h6>
							<p class="card-text">Studies show that consuming full-spectrum CBD can help bring balance to the body and benefit 10 systems of the body.  This can help reduce pain and inflammation.</p>
						</div>
					</div>

					<div class="card m-3 h-100 child border-warning" style="width: 18rem; min-height: 36rem;">
						<img class="card-img-top carousel-img" src="<%= assetPath("images/teatree-oil.png") %>" alt="Tea Tree Oil">
						<div class="card-body">
							<h5 class="card-title">Tea Tree Oil</h5>
							<p class="card-text">Insect Repellent, Antiseptic for Minor Cuts and Scrapes, All-Purpose Sanitizer, Skincare Health.</p>
						</div>
					</div>

					<div class="card m-3 h-100 child border-warning" style="width: 18rem; min-height: 36rem;">
						<img class="card-img-top carousel-img" src="<%= assetPath("images/king-of-the-jungle.png") %>" alt="King of the Jungle">
						<div class="card-body">
							<h5 class="card-title">King Of the Jungle</h5>
							<p class="card-text">Stamina, Libido, Performance</p>
						</div>
					</div>


				</div>
			</div>

		</div>                                                                                                                                                                                                                             
	</div>

	<br>

	<div class="container">
		<div class="row text-center">
			<div class="col-12">
				<h1 style="font-family: 'Snell Roundhand';">Shop</h1>
			</div>
		</div>
	</div>

	<!-- <divider> -->
	<hr>

	<!-- <create table with:
	 Water Soluble & Culinary Oils  | Edibles
	 Tinctures                      | Topicals
	 Pre-Rolls                      | Essential Oils
	 Hair Care Products             | Smoke Lounge Specials
	 Sexual Health                  | Sanitizers & Cleaners> -->
	 <div class="full-screen container-fluid">
		 <div class="row g-0">
			 <div class="col-lg-6"><a class="btn btn-secondary btn-outline-warning btn-lg btn-block topic-items" href="https://verolady.wakanna.com/Shop/?cid=3">Water Soluble & Culinary Oils</a></div>
			 <div class="col-lg-6"><a class="btn btn-secondary btn-outline-warning btn-lg btn-block topic-items" href="https://verolady.wakanna.com/Shop/?cid=4">Edibles</a></div>
		 </div>
		 <div class="row g-0">
			 <div class="col-lg-6"><a class="btn btn-secondary btn-outline-warning btn-lg btn-block topic-items" href="https://verolady.wakanna.com/Shop/?cid=1">Tinctures</a></div>
			 <div class="col-lg-6"><a class="btn btn-secondary btn-outline-warning btn-lg btn-block topic-items" href="https://verolady.wakanna.com/Shop/?cid=5">Topicals</a></div>
		 </div>
		 <div class="row g-0">
			 <div class="col-lg-6"><a class="btn btn-secondary btn-outline-warning btn-lg btn-block topic-items" href="https://verolady.wakanna.com/Shop/?cid=6">Pre-Rolls</a></div>
			 <div class="col-lg-6"><a class="btn btn-secondary btn-outline-warning btn-lg btn-block topic-items" href="https://verolady.wakanna.com/Shop/?cid=20">Essential Oils</a></div>
		 </div>
		 <div class="row g-0">
			 <div class="col-lg-6"><a class="btn btn-secondary btn-outline-warning btn-lg btn-block topic-items" href="https://verolady.wakanna.com/Shop/?cid=22">Hair Care Products</a></div>
			 <div class="col-lg-6"><a class="btn btn-secondary btn-outline-warning btn-lg btn-block topic-items" href="https://verolady.wakanna.com/Shop/?cid=19">Smoke Lounge Specias</a></div>
		 </div>
		 <div class="row g-0">
			 <div class="col-lg-6"><a class="btn btn-secondary btn-outline-warning btn-lg btn-block topic-items" href="https://verolady.wakanna.com/Shop/?cid=21">Sexual Health</a></div>
			 <div class="col-lg-6"><a class="btn btn-secondary btn-outline-warning btn-lg btn-block topic-items" href="https://verolady.wakanna.com/Shop/?cid=23">Sanitizers & Cleaners</a></div>
		 </div>
	 </div>

	 <br>

	 <!-- <header for "About CBD"> -->
	 <div class="container">
		 <div class="row text-center">
			 <div class="col-12">
				 <h1 style="font-family: 'Snell Roundhand';">About CBD</h1>
			 </div>
		 </div>
	 </div>
	 <!-- <divider> -->
	 <hr>


	 <!-- <create table with:
		The Endocannabinoid System   | THC vs CBD
		The Cannabis Advisory        | Products Explained
		The Time Is Now for WAKANNA  | Real Stories, Real People, Real Results with WaKanna> -->
		<div class="full-screen container-fluid">
			<div class="row g-0">
				<div class="col-lg-6"><a class="btn btn-secondary btn-outline-warning btn-lg btn-block topic-items" href="https://www.youtube.com/watch?v=oJbOQ9P2NYQ">The Endocannabinoid System</a></div>
				<div class="col-lg-6"><a class="btn btn-secondary btn-outline-warning btn-lg btn-block topic-items" href="https://www.youtube.com/watch?v=1iIENII-lVo">THC vs CBD</a></div>
			</div>
			<div class="row g-0">
				<div class="col-lg-6"><a class="btn btn-secondary btn-outline-warning btn-lg btn-block topic-items" href="https://www.youtube.com/watch?v=F8zaoR6Z3qg">The Cannabis Advisory</a></div>
				<div class="col-lg-6"><a class="btn btn-secondary btn-outline-warning btn-lg btn-block topic-items" href="https://www.youtube.com/watch?v=mbZQHw_Asp8">Products Explained</a></div>
			</div>
			<div class="row g-0">
				<div class="col-lg-6"><a class="btn btn-secondary btn-outline-warning btn-lg btn-block topic-items" href="https://www.youtube.com/watch?v=RPCXOnOP4Gk">The Time Is Now for WAKANNA</a></div>
				<div class="col-lg-6"><a class="btn btn-secondary btn-outline-warning btn-lg btn-block topic-items" href="https://www.youtube.com/watch?v=xI8x5pA8i5U">Real Stries, Real People, Real Results with WaKanna</a></div>
			</div>
		</div>


		<br>

		<!-- <header for "Contact Me"> -->
		<div class="container">
			<div class="row text-center">
				<div class="col-12">
					<h1 style="font-family: 'Snell Roundhand';">Contact Me</h1>
				</div>
			</div>
		</div>
		<!-- <divider> -->
		<hr>

		<!-- <create table with:
		Phone | Email --!>
		<div class="full-screen container-fluid">
		<div class="row g-0">
		<div class="col-lg-6"><a class="btn btn-secondary btn-outline-warning btn-lg btn-block topic-items" href="tel:+17724533524">Phone</a></div>
		<div class="col-lg-6"><a class="btn btn-secondary btn-outline-warning btn-lg btn-block topic-items" href="mailto:lucita.dover@gmail.com">Email</a></div>
		</div>

		<br>
		<br>
		<br>
		<!-- <centered QR code image> -->
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<img width="300" height="300" src="<%= assetPath("images/verolady.com_qr.png") %>" class="attachment-medium size-medium" alt="qr code" loading="lazy" />
				</div>
			</div>
		</div>

		<!-- <footer with socials:
		facebook | instagram> -->
		<!-- Remove the container if you want to extend the Footer to full width. -->
		<div class="container-fluid">

			<footer class="text-center text-lg-start" style="background-color: #db6930;">
				<div class="container d-flex justify-content-center py-5">
					<a href="https://www.facebook.com/profile.php?id=100012653880911">
						<button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
							<i class="fab fa-facebook-f"></i>
						</button>
					</a>
					<a href="https://www.instagram.com/verolady2020/">
						<button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
							<i class="fab fa-instagram"></i>

						</button>
					</a>
				</div>

				<!-- Copyright -->
				<div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
				</div>
				<!-- Copyright -->
			</footer>

		</div>
		<!-- End of .container -->
